name: ChatRegulator Gradle Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [24]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradlev2.4.1
      uses: nick-invision/retry@v3.0.2
      with:
        timeout_minutes: 4
        max_attempts: 2
        command: ./gradlew build

    - name: Upload Artifacts
      uses: actions/upload-artifact@v5
      with:
        name: ChatRegulator
        path: plugin/build/libs/ChatRegulator-*.jar
